html
    head
        title="TWIM preview"
        style
            include style.css
    body
        table
            each val in messages
                tr
                    td
                        pre(style={"white-space":"pre-wrap"})=val.body
                    td(class=val.expectedProject ? "" : "unknown")
                        select
                            option=""
                            each p in projects
                                option(selected=(val.expectedProject==p))=p
                        button="Resubmit"
                    td
                       each transform in val.transforms
                            div
                    td
                        textarea=val.notes
                        button="Notes"